* {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: white;
}

main {
    background-color: #EEEEEE;
    text-align: center;
    padding: 20px;
    display: block;
    margin: 10px 10px;

}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
}

p {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 400;
}

span {
    color: green;
}

h3 {
    font-size: 1.17rem;
    font-weight: bold;
    margin: 50px auto;
    width: 100%;
    max-width: 600px;
    display: block;
}

h2 {
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: rgb(0, 195, 255);
}

a:hover {
    color: rgb(0, 119, 255);
}

#image {
    width: 100%;
    max-width: 1000px;
}

#image-div {
    background-color: white;
    width: 100%;
    margin: 20px auto;
}

#image-caption {
    padding: 10px;
    font-size: 15px;
    font-style: italic;
}

#quote {
    font-style: italic;
}

#years {
    color: black;
    font-weight: bold;
}