* {
    font-family: "Montserrat", sans-serif;
}

#main {
    width: 100%;
    min-width: 800px;
    background-color: #EEEEEE;
    margin: 20px auto;
}

#title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

p {
    text-align: center;
    margin: 10px;
    font-size: 15px;
    font-weight: normal;
}

#img-div {
    background-color: white;
    width: 100%;
    max-width: 1200px;
}

img {
    margin: 0 auto;
    max-width: 900px;
}

#img-caption {
    margin: 10px;
    text-align: center;
    font-size: 0.9em;
    font-weight: normal;
    font-style: italic;
}