* {
    font-family: "Roboto", sans-serif;
}
body {
    background-color: white;
}

main {
    background-color: #EEEEEE;
    text-align: center;
    padding: 20px;
    display: block;
    margin: 10px 10px;

}
h1 {
    font-size: 2.5em;
    font-weight: bold;
}

p {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 400;
}
img {
    max-width: 1000px;
}
#image-div {
    background-color: white;
    width: 100%;
    margin: 20px auto;
}

#image-caption {
    padding: 10px;
    font-size: 15px;
    font-style: italic;
}